<button type="button" class="category__button" id="{{ category.parent_id }}"></button>
<ul class="category__list category__list--{{ category.lvl }}">
    {% for category in categories_list %}
        <li class="category__item" id="{{ category.parent_id }}">
            <a href="{{ category.url }}" class="category__link {{ category.parent_id }}">
                {{ category.name }}
            </a>
            {% if category.child %}
                {% include 'catalog/category_list.html' with categories_list=category.child %}
            {% endif %}
        </li>
    {% endfor %}
</ul>