<button type="button" class="category__button"></button>
<ul class="category__list category__list--{{ category.lvl }}
    {% if category.parent_id == None %} first {% endif %}" id="{{ category.parent_id }}">
    {% for category in categories_list %}
        <li class="category__item">
            <a href="{{ category.url }}" class="category__link">
                {{ category.name }}
            </a>
            {% if category.child %}
                {% include 'catalog/category_list.html' with categories_list=category.child %}
            {% endif %}
        </li>
    {% endfor %}
</ul>