{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Электронный каталог{% endblock %}</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<header class="header">
    <h1 class="header__title">Электронный каталог</h1>
    <form action="/search/" method="get" class="header__form" id="search__form">
        {% csrf_token %}
        <label><input type="search" name="search" id="search__input" placeholder="Строка поиска:"></label>
    </form>
    <nav class="header__nav">
        <h2 class="header__nav-title">Адресная строка:</h2>
        <a class="header__nav-item" href="/">/</a>
        {% for item in breadcrumbs %}
            <a href="{{ item.get_absolute_url }}">{{ item.name }}/</a>
        {% endfor %}
    </nav>
</header>

<aside class="category">
    <h2 class="category__title">Категории:</h2>
    {% include 'catalog/category_list.html' %}
</aside>

{% block content %}
<main class="good">
    <div class="good__list">
        {% for good in goods %}
            <a class="good__item" href="{{ good.url }}">
                <h3 class="good__item-title">{{ good.name }}</h3>
                <img class="good__item-img" src="/{{ good.image }}" width="100" height="100" alt="Фото тавара">
            </a>
        {% empty %}
            <p>Пустота</p>
            <img src="https://i.gifer.com/yH.gif" alt="Траволта недоумевает">
        {% endfor %}
    </div>
    <div class="pagination">

        {% if goods.has_previous %}
            <a href="?page={{ goods.previous_page_number }}">Назад</a>
        {% endif %}

        {% if goods.has_next %}
            <a href="?page={{ goods.next_page_number }}">Вперед</a>
        {% endif %}

    </div>
</main>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/script.js"></script>
</body>
</html>